/* 
@media screen and (max-width: 480px)
{

body{ width: auto;
    display: flex;
    flex-wrap: wrap;

}
.header
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.menu nav a
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}
.section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}



} */

body
{
    font-family: 'raleway', sans-serif;
    max-width: 1430px;
    height: auto;
    margin: auto;
    
}

h2
{
    font-size: 18px;
    font-weight: 700;
}

h3
{
    font-size: 16px;
    font-weight: 600;
    color: black;
}

h4
{
    font-size: 14px;
    font-weight: 600 ;
}

h5
{
    font-size: 13px;
    font-weight: 300;
}

.header
{
    /* margin-right: 50px;
    margin-left: 50px; */
    /* margin-top: 25px; */
    max-width: 1500px;
}

/*Logo*/

.logo img
{
    width:auto;
    height: 50px;
}

.logo-menu
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: auto;
}


/*Menu Navigation*/
.menu
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}
/* .menu a
{
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-wrap: wrap; 
}*/

.menu a:hover
{
    border-top: 3px #0065fc solid;
    color: #0065fc;
    padding-top: 32px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: -10px;
    margin-left: -10px;
}

.menu-item
{
    font-size: 16px;
    color: black;
    text-decoration: none;
}


.menu-item_bold
{
    font-size: 16px;
    color: #0065fc;
    font-weight: 900;
    text-decoration: none;
}

/*Baseline*/

.header-baseline
{
    margin-top: 30px ;
    margin-bottom: 15px;
    line-height: 30px;
}

.baseline1
{
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.baseline2
{
    font-size: 14px;
    color: black;
}

/* Searchbar*/

.searchbar
{
    display: flex;
    align-items: center;
}

.pin
{
    background-color: #f2f2f2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    font-size: 15px;
    height: 40px;
    border: solid #DEEBFF 1px;
    padding-right: 15px;
    padding-left: 15px;
    /* margin-right: 0px; */
}

.pin:hover
{
    background-color: white ;
    border: solid 1px #0065fc;
    color: #0065fc;
}


.textbox
{
    width: 230px;
    height: 36px;
    border: solid 1px #f2f2f2 ;
    padding-left: 15px;
    /* margin-left: 0px; */
}

.textbox:focus
{
    border: solid 0px #0065fc;
}

::placeholder
{
    font-family: 'raleway',sans-serif;
    font-weight: 700;
    color: #000;
    font-size: 15px;
}
.search
{
    background-color: #0065fc;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid #0065fc;
    color: white;
    font-family: 'raleway', sans-serif;
    font-weight: 700;
    height: 40px;
    margin-left: -5px;
    transition-duration: 0.4s;
    padding-top: 10px ;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 10px;
}

.search:hover
{
    background-color: #DEEBFF;
    color: #0065fc;
}


/*Filters*/


.filter
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.filter span
{
    font-size: 16px;
    font-weight: 700;
}

.filter-item
{
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    text-decoration: none;

}

.filter-item li a
{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    flex-wrap: nowrap;
    border-radius: 25px 25px 25px 25px;
    border: #f2f2f2 solid 1px;
    margin-right: 15px;
    padding-right: 5px;
    margin-left: 15px;
    color: black;
    font-weight: 700;
}

.filter-item li a:hover
{
    background-color: #0065fc;
    border-color: #0065fc;
    color: #DEEBFF;
    transition-duration: 0.4s;
}


#icon-color
{
    text-align: center;
    vertical-align: middle;
    color: #0065fc;
    background-color: #DEEBFF;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    padding: 10px;
}


/*Information*/

.info
{
    display: flex;
    justify-content: flex-start;
}

.info-icon
{
    font-size: 15px;
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    margin-right: 20px;
    border: solid #f2f2f2 2px;
    border-radius: 50% ;
    color: #0065fc;
}

/* Section all */

section
{
    min-width: 1340px;
}

/*Section main*/

.section-main_accomodation_second img
{
    display: block;
    height: 115px;
    width: 230px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;

}
.section-main
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    /* margin-left: 50px;
    margin-right: 50px; */
    margin-top: 20px;
    margin-bottom: 50px;
}

.section-main_accomodation
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    background-color: #f2f2f2;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    margin-right: 20px;
    box-sizing: border-box;
    max-width: 880px;
    min-width: 880px;
}

.section-main_accomodation h2
{
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: 40px;
    font-size: 22px;
}
.section-main_accomodation h3
{
    margin-left: 40px;
    margin-top: 40px;
    text-decoration: none;
}

.section-main_accomodation h3:hover
{
    text-decoration: underline;
    color: #0065fc;
}

.section-main_accomodation_second
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.section-main_accomodation article
{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    padding-bottom: 15px;
    font-size: 15px;
    font-weight: 600;
    line-height: 0px;
    box-shadow: 2px 2px 10px lightgray;
    margin-top: 30px;
}

.section-main_accomodation article:hover
{
    transform: scale(1.1);
    transition: 0.4s;
}

.section-main_accomodation a
{
    color: #000;
    text-decoration: none;
}

.section-main_accomodation a div
{
    margin-left: 10px;
}

.section-main_accomodation article i
{
    font-size: 10px;
    line-height: 0px;
}



/*Section main popular*/



.section-main_popular img
{
    height: 135px;
    width: 130px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
}

.section-main_popular
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: #f2f2f2;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    margin-left: 20px;
    padding: 10px;
    box-sizing: border-box;
    max-width:430px;
    min-width: 430px;
}

.section-main_popular article a
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    background-color: white;
    font-weight: 600;
    font-size: 15px;
    line-height: normal;
    white-space: normal;
    border-radius: 25px;
    box-shadow: 2px 2px 10px lightgray;
    text-decoration: none;
    text-align: left;
    color: #000;
}


.section-main_popular article
{
    max-height: 150px;
    max-width: 340px;
    padding-left: 30px;
    padding-right: 30px;
}

.section-main_popular article:hover
{
    transform: scale(1.1);
    transition: 0.4s;
}

.section-main_popular article a div
{
    margin-left: 20px;
    text-align: left;
}





/*Section secondary*/





.section-secondary
{
    width: auto;
    height: 500px;
    /* margin-right: 50px;
    margin-left: 50px; */
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    padding-bottom: 50px;
    min-width: 1340px;

}
.section-secondary h2
{
    font-size: 22px;
}

.section-secondary_activity
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: auto;
    width: auto;
}

.section-secondary_activity article
{
    text-decoration: none;
    color: #000;
    box-shadow: 5px 5px 10px #f2f2f2;
    border-radius: 20px;
    padding-bottom: 10px;
}

.section-secondary_activity article:hover

{
    transform: scale(1.1);
    transition: 0.4s;
}


.section-secondary_activity a
{
    text-decoration: none;
    text-indent: 10px;
    color: #000;
}

.section-secondary_activity img
{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    object-fit: cover;
}

.section-secondary_activity_group2
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-secondary_activity_group4
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activity-photo1
{
    width: 300px;
    height: 390px;
}

.activity-photo2
{
    width: 300px;
    height: 180px;
}

.activity-photo3
{
    width: 300px;
    height: 110px;
}

.activity-photo4
{
    width: 300px;
    height: 390px;
}

.activity-photo5
{
    width: 300px;
    height: 140px;
}

.activity-photo6
{
    width: 300px;
    height: 150px;
}

/*Footer*/

.footer
{
    background-color: #f2f2f2;
    line-height: 30px;
    /* margin-left: -130px; */
    padding-bottom: 40px;
    min-width: 1340px ;
}

.footer-item
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    /* margin-right: 50px;
    margin-left: 50px; */
}

.footer-item_about ul
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 0px;
    list-style-type: none;
    margin-top: 10px;
}

.footer-item_about a
{
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.footer-item_about a:hover
{
    text-decoration: underline;
    color: #0065fc;
}
