body
{
    font-family: 'raleway', sans-serif;
}

h2
{
    font-size: 18px;
    font-weight: 700;
}

h3
{
    font-size: 16px;
    font-weight: 600;
    color: black;
}

h4
{
    font-size: 14px;
    font-weight: 600 ;
}

h5
{
    font-size: 13px;
    font-weight: 300;
}

.header
{
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 25px;
}

/*Logo*/

.logo img
{
    width: 95px;
    height: 45px;
}

.logo-menu
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/*Menu Navigation*/


.menu ul
{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
}

.menu ul li
{
    margin-right: 70px;
}

.menu-item_active
{
    font-size: 15px;
    color: #0065fc;
    text-decoration: none;
}

.menu-item_inactive
{
    font-size: 15px;
    color: black;
    text-decoration: none;
}

.menu-item_bold
{
    font-size: 15px;
    color: #0065fc;
    font-weight: bold;
    text-decoration: none;
}

/*Baseline*/

.header-baseline
{
    margin-top: 40px ;
    margin-bottom: 15px;
    line-height: 30px;
}

.baseline1
{
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.baseline2
{
    font-size: 14px;
    color: black;
}

/* Searchbar*/

.searchbar
{
    display: flex;
   align-items: center;
}

.pin
{
    background-color: #f2f2f2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    font-size: 15px;
    height: 40px;
    border: solid #DEEBFF 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 0px;
}

.pin:hover
{
    background-color: white ;
    border: solid 1px #0065fc;
    color: #0065fc;
}


.textbox
{
    width: 230px;
    height: 36px;
    border: solid 1px #f2f2f2 ;
    padding-left: 15px;
    margin-left: 0px;
}

.textbox:focus
{
    border: solid 0px #0065fc;
}

::placeholder
{
    font-family: 'raleway',sans-serif;
    font-weight: 700;
    color: #000;
    font-size: 15px;
}
.search
{
    background-color: #0065fc;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid #0065fc;
    color: white;
    font-family: 'raleway', sans-serif;
    font-weight: 700;
    height: 40px;
    margin-left: -5px;
    transition-duration: 0.4s;
    padding-top: 10px ;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 10px;
}

.search:hover
{
    background-color: #DEEBFF;
    color: #0065fc;
}


/*Filters*/


.filter
{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.filter span
{
    font-size: 16px;
    font-weight: 700;
}

.filter-item
{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    text-decoration: none;   
     
}

.filter-item li a
{
    text-decoration: none;
    margin: 10px 10px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border: #f2f2f2 solid 3px;
    color: black;
    font-weight: 700;
    padding: 10px;
    padding-left: 0px;
    margin-left: 0px;
    border-left: 0px;
}

.filter-item li a:hover
{
    background-color: #0065fc;
    border-color: #0065fc;
    color: #DEEBFF;
}


#icon-color
{
    color: #0065fc;
    margin-right: 10px;
    background-color: #DEEBFF;
    background-position: 0 0;
    border-radius: 50%;
    border-style: #deebff solid 10px;
    background-origin: padding-box;
    padding: 15px;
}

/*Information*/

.info
{
    display: flex;
    justify-content: flex-start;
}

.info-icon
{
    font-size: 15px;
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    margin-right: 20px; 
    border: solid #f2f2f2 2px;
    border-radius: 50% ;
    color: #0065fc;      
}
/*Section main*/

img
{
    height: 100px;
    width: auto;
    border-radius: 20px;
}
.section-main
{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.section-main_accomodation
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: left;
    justify-content: flex-start;
    background-color: #f2f2f2;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    margin-right: 20px;
}

.section-main_accomodation h2
{   
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 22px;
}
.section-main_accomodation h3
{
    margin-left: 22px;
    margin-bottom: 50px;
    margin-top: 50px;
    text-decoration: none;
}

.section-main_accomodation_second
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center; 
}

.section-main_accomodation article
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    background-color: white;
    border-radius: 25px;
    padding: 20px;
    font-size: 15px;
    font-weight: 600;
    line-height: 0px;
    box-shadow: 2px 2px 10px lightgray;
}

.section-main_accomodation article a
{
    color: #000;
    text-decoration: none;
}


.section-main_accomodation article i
{
    font-size: 10px;
    line-height: 0px;
}

.section-main_popular
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    margin-left: 20px;
    padding: 10px;
}

.section-main_popular article a
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: white;
    padding: 20px;
    margin: 5px;
    font-size: 15px;
    font-weight: 600;
    padding: 5px;
    border-radius: 25px;
    box-shadow: 2px 2px 10px lightgray;
    text-decoration: none;
    text-align: left;
    color: #000;
}

.section-main_popular article h5
{   
    line-height: 0px;
}

/*Section secondary*/

.section-secondary
{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.section-secondary_activity 
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section-secondary_activity article
{
    border-radius: 20px;
    margin: 20px;
    font-size: 15px;
    font-weight: 600;
    box-shadow: 2px 2px 10px #f2f2f2;
}

/*Footer*/

.footer 
{
    background-color: #f2f2f2;
    line-height: 30px;
}

.footer-item
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 50px;
    margin-left: 50px;
}

.footer-item_about ul
{
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    list-style-type: none; 
    margin-top: 10px;
}

.footer-item_about a
{
    text-decoration: none;
    color: black;
    font-size: 15px;
}

